In [16]:
#load datasets
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [4]:
import os
os.getcwd()

'c:\\Users\\matis\\OneDrive\\Documents\\ENSTA\\3A\\Capstone\\project\\tschora\\EPFDAML\\work'

In [11]:
country = "FR"
version = "2"
path_predict = f"..\data\datasets\EPF{version}_{country}\MLP_TSCHORA_EPF{version}_{country}_test_predictions.csv"
df_predict = pd.read_csv(path_predict, sep=",", index_col=None)
path_true = f"../data/datasets/EPF{version}_{country}/test.csv"
df_true = pd.read_csv(path_true, sep=",", index_col=None)

In [10]:
df_predict

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,7.979507,11.046343,2.360018,-8.011986,-15.098841,-6.304963,-3.900436,-6.159255,1.190144,-25.917343,...,11.041327,3.727906,0.721344,22.688725,23.237965,9.100730,17.929272,15.727593,22.442135,19.644340
1,11.971424,17.658077,2.661686,-0.509516,-2.117969,9.997548,20.883753,29.145792,28.762573,35.319206,...,36.863285,27.578604,29.607868,46.377850,59.451286,39.846890,30.812874,30.193613,25.066984,34.025870
2,21.720907,27.781760,9.592936,9.991474,2.873814,15.520084,30.471458,29.932276,34.131245,31.498173,...,35.523693,24.521162,31.740690,46.663624,59.283910,39.056023,28.602297,34.136880,28.380688,31.189308
3,21.994410,27.812021,16.518940,9.177156,8.183199,17.676744,32.914772,36.854107,39.005554,34.966550,...,35.056408,28.100220,36.694840,51.121420,60.136997,42.887585,31.276209,36.174362,30.684528,33.779804
4,28.515486,27.911106,21.871517,8.676218,9.051355,17.052961,38.420414,32.906662,37.629536,29.602160,...,39.942040,25.568281,35.898200,50.485744,52.184400,44.089993,37.780920,35.298153,32.389630,38.169384
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716,22.707080,24.409136,22.469746,8.220369,8.220011,11.528321,31.971958,40.074844,45.634624,41.892710,...,51.688522,42.302950,33.436740,54.781770,71.047935,60.777126,53.392982,41.024750,37.678776,45.168236
717,38.273598,32.131958,38.192020,19.971743,22.732550,29.488369,36.626373,54.676605,51.598633,65.015630,...,51.556050,44.488743,48.447040,68.354460,71.594030,58.462883,61.112053,50.618023,41.001812,44.207077
718,41.253307,36.414970,36.640390,29.201551,29.358477,30.977432,34.716774,56.500385,41.273785,72.790980,...,47.329536,46.105120,43.931667,54.407780,57.763092,60.172930,53.091830,42.969948,43.194200,43.613953
719,44.048073,35.991460,38.098510,29.356384,27.581837,28.708448,33.372500,49.572720,44.764133,52.906720,...,46.426308,42.122845,42.277020,56.797470,62.120274,63.943520,55.228756,46.749836,44.423527,47.695526
720,48.436870,43.471950,41.388042,29.617840,21.580431,22.725850,26.756407,32.981724,32.945442,46.565315,...,44.461970,29.437294,37.333427,60.275932,59.912960,59.720592,59.215675,46.241400,45.591885,45.032330

In [12]:
df_true

,period_start_date,DE_price_0_past_1,DE_price_0_past_7,DE_price_1_past_1,DE_price_1_past_7,DE_price_2_past_1,DE_price_2_past_7,DE_price_3_past_1,DE_price_3_past_7,DE_price_4_past_1,...,FR_price_14,FR_price_15,FR_price_16,FR_price_17,FR_price_18,FR_price_19,FR_price_20,FR_price_21,FR_price_22,FR_price_23
0,2015-01-11,17.10,9.32,12.93,0.02,13.70,-0.04,11.01,0.01,9.08,...,23.39,12.70,18.49,25.81,35.48,42.00,36.08,31.80,33.00,32.19
1,2015-01-12,0.05,22.34,-2.06,17.93,-4.11,15.17,-5.06,16.38,-4.12,...,36.31,32.37,33.53,41.31,47.89,48.42,41.89,35.24,37.44,35.00
2,2015-01-13,9.30,30.02,2.87,30.57,0.09,30.25,0.26,30.29,2.83,...,36.48,33.05,34.13,43.03,49.22,46.38,42.44,33.36,33.97,31.39
3,2015-01-14,9.27,24.97,10.42,24.65,11.16,24.68,10.71,25.06,11.26,...,42.04,38.94,41.15,48.93,50.99,50.94,44.99,38.62,39.54,38.92
4,2015-01-15,13.25,21.92,15.02,19.35,11.99,16.11,13.68,14.93,13.91,...,38.18,35.54,35.68,41.66,50.45,49.47,42.98,35.42,35.49,34.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716,2016-12-27,0.04,37.49,-9.92,37.06,-14.90,37.06,-16.09,34.96,-15.05,...,51.27,51.82,54.65,69.99,72.89,72.15,58.60,51.48,51.27,51.48
717,2016-12-28,-13.00,31.88,-24.92,31.35,-49.98,31.74,-53.62,31.35,-50.19,...,50.77,51.60,55.20,63.28,63.70,59.82,62.36,50.00,49.02,47.73
718,2016-12-29,21.80,34.34,21.28,32.72,22.10,33.34,20.28,34.42,23.01,...,49.60,51.63,54.43,63.95,67.17,66.40,59.41,51.72,56.44,55.20
719,2016-12-30,42.28,29.02,39.30,29.58,36.83,27.58,34.11,26.78,34.99,...,51.47,53.00,57.23,67.40,72.43,72.04,70.60,69.59,69.09,66.70
720,2016-12-31,36.01,10.38,35.96,3.71,32.06,-7.62,32.54,-2.57,33.09,...,49.21,49.94,53.30,62.47,70.69,69.72,57.10,54.49,54.95,61.19

In [14]:
cols_price = [country+"_price_"+str(i) for i in range(24)]

In [15]:
cols_price

['FR_price_0',
 'FR_price_1',
 'FR_price_2',
 'FR_price_3',
 'FR_price_4',
 'FR_price_5',
 'FR_price_6',
 'FR_price_7',
 'FR_price_8',
 'FR_price_9',
 'FR_price_10',
 'FR_price_11',
 'FR_price_12',
 'FR_price_13',
 'FR_price_14',
 'FR_price_15',
 'FR_price_16',
 'FR_price_17',
 'FR_price_18',
 'FR_price_19',
 'FR_price_20',
 'FR_price_21',
 'FR_price_22',
 'FR_price_23']

In [34]:
ytrue = df_true[cols_price].values.reshape(1,-1)
ypred = df_predict.values.reshape(1,-1)

In [36]:
ytrue, ypred

(array([[26.95, 24.22, 27.08, ..., 54.49, 54.95, 61.19]]),
 array([[ 7.979507, 11.046343,  2.360018, ..., 46.2414  , 45.591885,
         45.03233 ]]))

In [35]:
ytrue.shape, ypred.shape

((1, 17304), (1, 17304))

In [31]:
print(ytrue[:2, :])
print(ytrue.reshape(1,-1)[:, :30])

[[26.95 24.22 27.08 20.91 13.09 16.41 18.72 17.21 21.2  25.96 28.83 30.73
  31.8  30.37 23.39 12.7  18.49 25.81 35.48 42.   36.08 31.8  33.   32.19]
 [27.59 26.81 25.75 17.86 15.16 19.84 33.98 45.51 48.06 46.2  45.   45.38
  42.49 41.53 36.31 32.37 33.53 41.31 47.89 48.42 41.89 35.24 37.44 35.  ]]
[[26.95 24.22 27.08 20.91 13.09 16.41 18.72 17.21 21.2  25.96 28.83 30.73
  31.8  30.37 23.39 12.7  18.49 25.81 35.48 42.   36.08 31.8  33.   32.19
  27.59 26.81 25.75 17.86 15.16 19.84]]

In [37]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error
def mae(ytrue, ypred): return mean_absolute_error(ytrue, ypred)
def mape(ytrue, ypred): return 100 * mean_absolute_percentage_error(ytrue, ypred)
def smape(ytrue, ypred): return 200 * np.mean(np.abs(ytrue - ypred) / (np.abs(ytrue) + np.abs(ypred)))
def rmse(ytrue, ypred): return math.sqrt(mean_squared_error(ytrue, ypred))
def rmae(ytrue, ypred, ynaive): return mean_absolute_error(ytrue, ypred) / mean_absolute_error(ytrue, ynaive)
def dae(ytrue, ypred):
    try:
        error = mae(ytrue.mean(axis=1), ypred.mean(axis=1))
    except:
        error = mae(ytrue, ypred)
    return error

In [38]:
mae(ytrue, ypred), mape(ytrue, ypred), smape(ytrue, ypred), rmse(ytrue, ypred), rmae(ytrue, ypred, ytrue), dae(ytrue, ypred)

C:\Users\matis\AppData\Local\Temp\ipykernel_17624\3899904847.py:6: RuntimeWarning: divide by zero encountered in double_scalars
  def rmae(ytrue, ypred, ynaive): return mean_absolute_error(ytrue, ypred) / mean_absolute_error(ytrue, ynaive)

(8.998528562051707,
 36.28287130406074,
 37.404621561427184,
 15.74070245210733,
 inf,
 5.469469709266221)